html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #afffb4;
}

header {
    background-color: #f0f0f0;
}

header > h1 {
    font-size: 4vw;

    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
}

header, footer {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    header, footer {
        height: 50px;
    }

    header > h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 400px) {
    header, footer {
        height: 12.5vw;
    }
    
    header > h1 {
        font-size: 10vw;
    }
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    text-align: justify;
}

@media only screen and (max-width: 500px) {
    article {
        font-size: 5vw;
    }
}

.description {
    margin-top: 50px;
    width: 70vw;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin-top: 5vw;
    flex-direction: column;
}

.button {
    padding: 1vw;
    background-color: #a4ff9f;
}

.button:hover {
    background-color: #9cff8f;
}

a {
    text-decoration: none;
    color: black;
}

.poem, .novel {
    margin-top: 100px;
    padding: 25px;
    background-color: #a4ff9f;
}

.poem > h2 {
    margin: 0;
}

p {
    margin: 0;
    margin-top: 10px;
    width: 35vw;
}

.novel > p {
    width: 70vw;
}

#lost-poems {
    visibility: none;
}